<div class="item-background-shadow"
     *ngIf="playbackState && playbackState.item && playbackState.item.album"
     [style]="'background-image: url(' + playbackState.item.album.images[0].url + ')'"
></div>
<div class="item-background"
     *ngIf="playbackState && playbackState.item && playbackState.item.album"
     [style]="'background-image: url(' + playbackState.item.album.images[0].url + ')'"
></div>
<div class="player">
  <app-playing-item
    [item]="playbackState?.item"
  ></app-playing-item>
  <app-actions
    [disallows]="playbackState?.actions?.disallows"
    [shuffle_state]="playbackState?.shuffle_state"
    [repeatState]="playbackState?.repeat_state"
    (resume)="resumePlayback()"
    (pause)="pausePlayback()"
    (toggleShuffle)="toggleShuffle($event)"
    (toggleRepeat)="toggleRepeat($event)"
    (skipPrevious)="skipPrevious()"
    (skipNext)="skipNext()"
  ></app-actions>
  <app-progress-indicator
    [progress]="playbackState?.progress_ms"
    [duration]="playbackState?.item?.duration_ms"
    (goToPosition)="resumePlayback($event)"
  ></app-progress-indicator>
</div>
