<nav>
  <h2>{{ user ? 'Hallo ' + user.display_name : 'Spotify Dashboard' }}</h2>
  <app-login *ngIf="!auth.getTokenAvailable()"></app-login>
  <div class="user" *ngIf="user">
    <button (click)="toggleUserOptions()" class="user-img-wrapper">
      <img [ngSrc]="userImage.url" *ngIf="userImage" [height]="userImage.height"
           [width]="userImage.width"
           priority="true"
           class="user-image" alt="profile picture">
    </button>
    <div (focusout)="showUserOptions = false" id="user-options" class="user-options" *ngIf="showUserOptions">
      <span class="user-name">{{ user.display_name }}</span>
      <span class="account">
        <a [href]="user.external_urls.spotify">Profil</a>
        <a [href]="user.external_urls.spotify"><span class="material-icons-outlined">open_in_new</span></a>
      </span>
      <span class="stay-logged-in" (click)="toggleStayLoggedIn()">
        <span class="stay-logged-in-text">Sitzung merken</span>
        <span class="material-icons" *ngIf="stayLoggedIn" style="color: var(--spotify-green)">lock</span>
        <span class="material-icons" *ngIf="!stayLoggedIn">lock_open</span>
      </span>
      <div class="separator"></div>
      <span class="logout"><a (click)="logout()" *ngIf="auth.getTokenAvailable()">Abmelden</a></span>
    </div>
  </div>
</nav>
