.progress-indicator {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  font-size: 0.8rem;
  column-gap: 10px;
}

.duration-bar {
  display: block;
  width: 80%;
  height: 2px;
  background-color: var(--spotify-background-dropdown-dark);
  border-radius: 1px;
}

.progress-bar {
  display: block;
  height: 2px;
  background-color: var(--spotify-green);
  border-radius: 1px;
  transition: width 1s linear;
}
