.item {
  height: 145px;
}

.info {
  padding-top: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: hidden;
}

.name {
  height: fit-content;
  font-size: 1.75rem;
}

.artists {
  display: flex;
  flex-wrap: wrap;
  row-gap: 5px;
  color: #ffffffb6
}

.artist {
  display: block;
  white-space: nowrap;
  padding-right: 1rch;
}
