<div *ngIf="tokenAvailable" class="dashboard">
  <spotify-device-manager
    [availableDevices]="availableDevices"
  ></spotify-device-manager>
  <spotify-player
    [playbackState]="playbackState"
    [availableDevices]="availableDevices"
    (refreshPlayback)="getPlaybackState()"
  ></spotify-player>
  <spotify-analytics
    [track]="playbackState?.item"
    [progress_ms]="playbackState?.progress_ms"
  ></spotify-analytics>
  <div></div>
  <spotify-search></spotify-search>
  <div></div>
</div>
