.device {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin-bottom: 10px;
  height: 50px;
  gap: 10px;
  align-items: center;
  width: 100%;
  transition: color 0.2s ease-in-out;
}

.device:hover {
  color: #666;
}

.device.active:hover {
  color: #076000;
}

h2, .device>.material-icons-outlined {
  cursor: pointer;
}

.device.active {
  color: var(--spotify-green)
}

.device>.material-icons-outlined {
  font-size: 30px;
}

.name {
  font-size: 1.3rem;
}

.volume {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  margin-left: auto;
  width: 40%;
  gap: 10px;
}

.volume-info {
  display: flex;
}

.volume-percent {
  min-width: 4ch;
}

.volume .material-icons-outlined {
  font-size: 0.8rem;
  margin-left: auto;
}

.volume-slider {
  display: block;
  width: 100%;
}
