<div class="analytics">
  <div *ngIf="trackAudioAnalysis && trackAudioAnalysisSection && trackAudioFeatures">
    <h2>Analytics</h2>
    <div class="analytics-data">
      <div class="section analytic">
        <span>Teil:
          <b class="number">{{ trackAudioAnalysis.sections.indexOf(trackAudioAnalysisSection) + 1 }}</b>
          <span class="number">
            ({{ trackAudioAnalysisSection.start * 1000 | date:'m:ss' }}
            -
            {{ (trackAudioAnalysisSection.start + trackAudioAnalysisSection.duration) * 1000 | date:'m:ss' }})
          </span>
        </span>
        <b class="remaining number">
          {{(trackAudioAnalysisSection.start + trackAudioAnalysisSection.duration) * 1000 - _progress_ms | date:'m:ss'}}
        </b>
      </div>
      <div class="key analytic">
        <span class="name">Tonart</span>
        <span
          [ngClass]="trackAudioAnalysisSection.key_confidence == 0 ? 'not-sure' : ''"
          class="value">{{ getKey(trackAudioAnalysisSection.key) + (trackAudioAnalysisSection.mode == 0 ? 'm' : '') }}
        </span>
        <span class="accuracy">
          <span class="number">{{ trackAudioAnalysisSection.key_confidence * 100 | number:'.1' }}</span>%
        </span>
      </div>
      <div class="tempo analytic">
        <span class="name">Tempo</span>
        <span class="value">
          <span class="number">{{ trackAudioAnalysisSection.tempo | number:'1.0-0' }}</span> bpm</span>
        <span class="accuracy">
          <span class="number">{{ trackAudioAnalysisSection.tempo_confidence * 100 | number:'.1' }}</span>%
        </span>
      </div>
      <div class="time_signature analytic">
        <span class="name">Taktart</span>
        <span class="value">
          <span class="number">
            {{ trackAudioAnalysisSection.time_signature | number:'1.0-0' }}/4
          </span>
        </span>
        <span class="accuracy">
          <span class="number">{{ trackAudioAnalysisSection.time_signature_confidence * 100 | number:'.1' }}</span>%
        </span>
      </div>
    </div>
  </div>
  <div class="no-data" *ngIf="!trackAudioAnalysis || !trackAudioFeatures || !trackAudioAnalysisSection">
    Keine Daten zu diesem Track bekannt
  </div>
</div>
